*{
    font-family: "Work Sans", sans-serif;
    padding: 0px;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-img{
    height: 30px;
    width: 60px;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav li{
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: rgba(60, 53, 79, 1);
}

.nav-title{
   font-size: 32px;
}

.pink-g{
   color: rgba(255, 66, 165, 1);
}

.follow{
    background-color: rgba(11, 2, 35, 0.1);
    border-radius: 5px;
    height: 35px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}
