*{
    font-family: "Work Sans", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
}

.nav-logo{
    display: flex;
    gap: 16px;
}

.nav-img{
    height: 40px;
    width: 86.4px;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav li{
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
}

